<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>respire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta property="fb:app_id" content="3202808066405822" />
    <meta
      name="description"
      content="Exercício de respiração para controle da ansiedade"
    />
    <meta
      property="og:description"
      content="Exercício de respiração para controle da ansiedade"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/assets/images/web_hi_res_512.png" />
    <meta
      name="twitter:description"
      content="Exercício de respiração para controle da ansiedade"
    />
    <meta
      name="keywords"
      content="respiração, exercício, tranquilidade, relax, meditação, calma, controle, saúde"
    />
    <link
      rel="manifest"
      href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json"
    />
    <% if (htmlWebpackPlugin.options.manifest.theme_color) { %>
    <meta
      name="theme-color"
      content="<%= htmlWebpackPlugin.options.manifest.theme_color %>"
    />
    <% } %> <% for (var chunk of webpack.chunks) { %> <% if (chunk.names.length
    === 1 && chunk.names[0] === 'polyfills') continue; %> <% for (var file of
    chunk.files) { %> <% if (htmlWebpackPlugin.options.preload &&
    file.match(/\.(js|css)$/)) { %>
    <link
      rel="preload"
      href="<%= htmlWebpackPlugin.files.publicPath + file %>"
      as="<%= file.match(/\.css$/)?'style':'script' %>"
    />
    <% } else if (file.match(/manifest\.json$/)) { %>
    <link
      rel="manifest"
      href="<%= htmlWebpackPlugin.files.publicPath + file %>"
    />
    <% } %> <% } %> <% } %>
  </head>
  <body>
    <%= htmlWebpackPlugin.options.ssr({ url: '/' }) %>
    <script
      defer
      src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"
    ></script>
    <script>
      window.fetch ||
        document.write(
          '<script src="<%= htmlWebpackPlugin.files.chunks["polyfills"].entry %>"><\/script>',
        );
    </script>
  </body>
</html>
